DATABASE = {
    'drivername': 'postgres',
    'host': 'localhost',
    'port': '', # PORT HERE
    'username': '', # YOUR USERNAME HERE
    'password': '', # YOUR PASSWORD
    'database': 'scrape'
}
